<h1>Chat System</h1>

<div id="messages">
  <%= render @messages %>
</div>

<form>
  <label>メッセージ:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>

<div id="results">
  <%= @results %>
</div>
